.form_wrapper {
	padding: 100px 21%;
}

@media screen and (max-width: 1920px) {
	.form_wrapper {
	padding: 100px 10%;
}
}

@media screen and (max-width: 1366px) {
	.form_wrapper {
	padding: 80px 20px;
}
}

@media screen and (max-width: 650px) {
	.form_wrapper {
		padding: 40px 10px;
		min-height: 72vh;
	}
}

