.services {
	top: 0;
}

.services_wrapper {
	padding: 0 21%;
}

.left_side_card {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 407px 116px auto;
	grid-template-areas: "info_block . slider";

	margin-bottom: 90px;
}

.left_side_card:first-child {
	margin-top: 120px;
}

.right_side_card {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: auto 116px 407px;
	grid-template-areas: "slider . info_block";

	margin-bottom: 90px;
}

.right_side_card:last-child {
	margin-bottom: 20px;
}

.services_info_block {
	grid-area: info_block;
}

.services_info_block p {
	text-align: justify;
	font-weight: 500;
}

.slider {
	grid-area: slider;
}

.services_info_title {
	margin-bottom: 30px;
}

.services_info_title h2 {
	font-weight: 700;
	font-size: 34px;
	line-height: 130%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}


.features {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "left_column right_column";

	margin-top: 80px;
}

.left_column {
	grid-area: left_column;

	display: grid;
	justify-content: center;

	text-align: center;
}

.right_column {
	grid-area: right_column;

	display: grid;
	justify-content: center;

	text-align: center;
}

.advantage h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	text-align: center;
}

.advantage:first-child {
	margin-bottom: 35px;
}

.advantage h3:first-child {
	font-weight: 700;
	font-size: 36px;
	line-height: 130%;
	letter-spacing: 0.05em;
	text-transform: uppercase;

}

@media screen and (max-width: 1200px) {
	.services_wrapper {
		padding: 0 15px;
	}
}

@media screen and (max-width: 1024px) {
	.left_side_card:first-child {
		margin-top: 0px;
	}
	.services_info_title h2 {
		font-size: 28px;
		text-align: center;
	}
	.advantage h3:first-child {
		font-size: 26px;
	}
	.features {
		margin-top: 30px;
	}
}

@media screen and (max-width: 960px) {
	.services_info_title h2 {
		font-size: 24px;
		text-align: center;
	}
	.services_info_block p {
		font-size: 16px;
	}
	.advantage h3:first-child {
		font-size: 22px;
	}
	.features {
		margin-top: 20px;
	}
	.left_side_card {
	grid-template-columns: auto 20px auto;
	/* grid-template-areas: "info_block . slider"; */
	margin-bottom: 50px;
	}

	.left_side_card:first-child {
		margin-top: 20px;
	}

	.right_side_card {
		grid-template-columns: auto 20px auto;
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 768px) {
	.services_info_title h2 {
		font-size: 22px;
	}
	.services_info_block p {
		font-size: 14px;
	}
	.services_info_title {
		margin-bottom: 10px;
	}
	.advantage:first-child {
		margin-bottom: 15px;
	}
	.advantage h3 {
		font-size: 14px;
	}
	.advantage h3:first-child {
		font-size: 18px;
	}
	.features {
		margin-top: 10px;
	}
}

@media screen and (max-width: 650px) {
	.services_info_title h2 {
		font-size: 18px;
	}
	.services_info_block p {
		font-size: 12px;
	}
	.advantage h3 {
		font-size: 12px;
	}

}

@media screen and (max-width: 560px) {
	.left_side_card,
	.right_side_card {
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: 'info_block' 'slider';
	padding: 0 20px;
	}

	.slider {
		margin-top: 10px;
		justify-content: center;
	}
	.services_info_title h2 {
		font-size: 26px;
	}
	.services_info_block p {
		font-size: 16px;
	}
	.advantage:first-child {
		margin-bottom: 15px;
	}
	.advantage h3 {
		font-size: 18px;
	}
	.advantage h3:first-child {
		font-size: 26px;
	}
}

@media screen and (max-width: 350px) {
	.services_wrapper {
		padding: 0;
	}
	.services_info_title h2 {
		font-size: 22px;
	}
	.services_info_block p {
		font-size: 16px;
	}
	.advantage:first-child {
		margin-bottom: 15px;
	}
	.advantage h3 {
		font-size: 16px;
	}
	.advantage h3:first-child {
		font-size: 24px;
	}
}