/* stylelint-disable selector-class-pattern */
.tickets {
	top: 0;
}

.tickets li {
	display: flex;
	gap: 24px;
	align-items: baseline;
	margin-bottom: 20px;
}

.tickets p {
	text-align: justify;
	font-weight: 500;
}

.tickets_img {
	width: 532px;
	height: 538px;
}

.tickets_wrapper {
	padding: 0 21%;
}

.tickets_link {
	display: block;

	cursor: pointer;

	letter-spacing: 0.05em;
	text-transform: uppercase;

	color: var(--white);

	border: none;
	background-color: var(--black);

	line-height: 130%;
}

.tickets_btnConsultation {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.tickets_btnConsultation Button {
	width: 282px;
}

.tickets_leftsideCard {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 400px 177px auto;
	grid-template-areas: "infoBlock . cardImage";

	margin-bottom: 120px;
}

.tickets_leftsideCard:first-child {
	margin-top: 122px;
}

.tickets_info_block {
	grid-area: infoBlock;
}

.tickets_info_title {
	margin-bottom: 30px;

}

.tickets_info_title h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 130%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.tickets_features {
	margin-top: 30px;
}

.tickets_cardImage {
	grid-area: cardImage;
}

.tickets_ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "leftColumn rightColumn";
}

.tickets_leftColumn {
	grid-area: leftColumn;
}

.tickets_rightColumn {
	grid-area: rightColumn;
}

.tickets_leftColumn h3,
.tickets_rightColumn h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
}

.tickets_pricePerYear {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "amount months";
}

.tickets_pricePerYear li {
	align-items: center;
}

.tickets_amount {
	grid-area: amount;
}

.tickets_months {
	grid-area: months;
}

.tickets_amount h3, 
.tickets_months h3 {
	font-weight: 700;
	font-size: 20px;
	line-height: 130%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.tickets_rightsideCard {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: auto 177px 400px;
	grid-template-areas: "cardImage . infoBlock";

	margin-bottom: 120px;
}

.tickets_rightsideCard:last-child {
	margin-bottom: 0;
}

@media screen and (max-width: 1280px) {
	.tickets_leftsideCard {
		grid-template-columns: 400px 90px auto;
		margin-bottom: 80px;
	}

	.tickets_leftsideCard:first-child {
		margin-top: 40px;
	}

	.tickets_rightsideCard {
		grid-template-columns: auto 50px 400px;
		margin-bottom: 80px;
	}
}


@media screen and (max-width: 1025px) {
	.tickets_leftsideCard {
		grid-template-columns: 400px 30px auto;
		margin-bottom: 80px;
	}

	.tickets_rightsideCard {
		grid-template-columns: auto 30px 400px;
		margin-bottom: 80px;
	}
}

@media screen and (max-width: 980px) {
		.tickets_leftsideCard {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		margin-bottom: 50px;
	}

	.tickets_rightsideCard {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;
	}

	.tickets_info_block {
		margin: 30px 0;
	}

	.tickets_info_title h2 {
		font-size: 30px;
	}	

	.tickets_info_title {
		text-align: center;
	}

	.tickets_img {
		width: 90%;
		height: auto;
	}
	.tickets_wrapper {
	padding: 0 5%;
}
.tickets_cardImage {
	text-align: center;
}

.tickets_btnConsultation Button {
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	.tickets_amount h3, 
	.tickets_months h3 {
		font-weight: 700;
		font-size: 16px;

	}
	.tickets_leftColumn h3,
	.tickets_rightColumn h3 {
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
	}
	.tickets_info_title h2 {
		font-size: 28px;
	}	
	.tickets_btnConsultation {
		align-items: center;
	}
}

@media screen and (max-width: 360px) {
	.tickets_amount h3, 
	.tickets_months h3 {
		font-weight: 700;
		font-size: 14px;

	}
	.tickets_leftColumn h3,
	.tickets_rightColumn h3 {
		font-weight: 500;
		font-size: 12px;
		line-height: 130%;
	}
	
}

@media screen and (max-width: 320px) {
	.tickets_amount h3, 
	.tickets_months h3 {
		font-weight: 700;
		font-size: 14px;

	}
	.tickets_leftColumn h3,
	.tickets_rightColumn h3 {
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
	}

	.tickets_info_title h2 {
		font-size: 20px;
	}	

	.tickets p {
		font-size: 14px;
	}

	.tickets_ul {
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		grid-template-areas: 'leftColumn' 'rightColumn';
	}

	.tickets_btnConsultation Button {
		width: 100%;
	}
	
}