.form {
	display: flex;
	flex-direction: column;
	color: var(--white);
	background: var(--black);
}

.container {
	padding: 0 270px;
}

.info_block {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
	text-transform: uppercase;
}

.title {
	margin: 30px 0;

	letter-spacing: 0.05em;
	text-transform: uppercase;

	line-height: 130%;
}

.info_text {
	font-weight: 500;
	font-size: 28px;
	line-height: 130%;
	letter-spacing: 0.05em;
}

.input_block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
}

.form_item {
	position: relative;

	display: inline-block;

	vertical-align: top;
}

.form_input {
	width: 100%;
	font-family: var(--font-family);
	padding-bottom: 5px;
	color: var(--white);
	border: none;
	border-bottom: 1px solid var(--white);
	outline: none;
	background: var(--black);
	font-size: 16px;
	font-weight: 500;
	line-height: 130%;
}

.form_label {
	position: absolute;
	top: -10px;
	right: 0;
	left: 0;

	overflow: hidden;

	transition: 0.3s;
	white-space: nowrap;
	pointer-events: none;

	font-family: var(--font-family);
	font-weight: 400;
	line-height: 40px;
}

.form_input:focus~.form_label,
.form_input:not(:focus):valid~.form_label {
	top: -27px;
	left: 2px;

	font-size: 10px;
}

.auth_confirm_block {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin: 70px 0 30px 0;
}

.submit_btn {
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 22px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
    font-size: 16px;
    font-weight: 300;
    width: 168px;
}

.auth_data {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 20px;
}

.auth_data_error {
	background-color: rgb(162, 37, 37);
	padding: 3px;
}

.auth_span_invalid_data {
	color: rgb(216, 26, 26);
}

.ask_success_block {
	margin-bottom: 15px;
	text-align: center;
}

.ask_success {
	color: rgb(17, 194, 70);
}

@media screen and (max-width: 1280px) {
	.container {
	padding: 0 10%;
}
}

@media screen and (max-width: 768px) {
	.container {
	padding: 0 10px;
	margin: auto;
}
}

@media screen and (max-width: 650px) {
	.auth_confirm_block {
		margin: 40px 0 30px;
	}
	.auth_confirm_block button {
		width: 100px;
		height: 40px;
	}
	.auth_confirm_block a {
		font-size: 14px;
	}
	
}

@media screen and (max-width: 450px) {
	.auth_confirm_block {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	
}