.header {
	display: grid;
	grid-template-columns: 1fr auto 1fr auto 1fr;
	grid-template-areas: ". navigation . icons .";
	align-items: center;

	/* padding: 23px 0; */
	height: 75px;

	background: var(--light-gray);
}

.header_icons svg:hover {
	transition: 0.3s;

	fill: var(--ultra-dark-gray);
}

.navigation {
	grid-area: navigation;
}

.header_icons {
	grid-area: icons;

	display: flex;
	gap: 20px;
}

.side-menu,
.hamb {
	display: none;
}

@media screen and (max-width: 960px) {
  .header_icons {
	  display: none;
  }

  .header {
	  height: 52px;
	  width: 100%;
  }
}