.input {
	padding-bottom: 5px;
	color: var(--white);
	border: none;
	border-bottom: 1px solid var(--white);
	outline: none;
	background: var(--black);
	width: 100%;
	font-size: 16px;
	font-weight: 500;
	line-height: 130%;
}
