.nav {
	top: 0;
	z-index: 1;
}

.nav-container {
	display: flex;
	align-items: center;
}

.ul {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;

	padding: 0;
	gap: 50px;
}

.ul li {
	list-style-type: none;
}

.ul a {
	font-weight: 500;
	font-size: 13px;
	line-height: 130%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--black);
}

.ul a:hover {
	transition: 0.3s;

	color: var(--ultra-dark-gray);
}

.nav-icon {
  display: none;
}

.nav-logo {
  display: none;
}

@media screen and (max-width: 960px) {
  .ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 50px;
	  right: 110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .ul.active {
    background: #eee;
    right: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding: 5px 0;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    cursor: pointer;
  }

  .nav-logo {
    display: block;
    position: absolute; 
    left: 30px;
  }
  .nav-logo svg {
    width: 100px;
  }
}

@media screen and (max-width: 650px) {
  .nav-logo svg {
    width: 90px;
  }
}