.card {
	margin-top: 40px;
	background-color: var(--white);
	border: none;
}

.card_image_block {
	position: relative;
}

.card_image_block img {
	width: 354px;
	height: 420px;
}

.card_description {
	position: absolute;

	top: 40%;
	left: 10%;

	display: flex;
	flex-direction: column;

	color: var(--light-gray);

	font-size: 16px;
	font-weight: 500;
	line-height: 130%;
}

.card_subtitle {
	margin-top: 30px;

	font-size: 24px;
	font-weight: 500;
	line-height: 130%;
}

@media screen and (max-width: 1200px) {
	.card_image_block img {
		width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 1024px) {
	.card_description {
		font-size: 14px;
	}
}

@media screen and (max-width: 960px) {
	.card_description {
		font-size: 12px;
	}
}

@media screen and (max-width: 768px) {
	.card_description {
		display: none;
	}
}

@media screen and (max-width: 650px) {
	.card_subtitle {
		font-size: 18px;
		margin-top: 20px;
		width: 90%;
	}
	.card {
		margin-top: 20px;
	}
}

@media screen and (max-width: 420px) {
	.card_subtitle {
		font-size: 14px;
	}
}