.card_title {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 30px;
}
 
.card_title h3 {
	font-weight: 500;
	font-size: 21px;
	line-height: 130%;
}

@media screen and (max-width: 420px) {
	.card_title h3 {
		font-size: 18px;
	}
}

@media screen and (max-width: 320px) {
	.card_title h3 {
		font-size: 16px;
	}
}