.form {
	display: flex;
	flex-direction: column;
	color: var(--white);
	background: var(--black);
}

.form textarea {
	width: 100%;
	padding-bottom: 10px;

	color: var(--white);
	border: 1px solid var(--white);
	outline: none;
	background: var(--black);

	font-family: var(--font-family);

	font-size: 16px;
	font-weight: 500;
	line-height: 130%;
}

.form textarea::placeholder {
	color: var(--white);
}

.container {
	padding: 0 270px;
}

.info_block {
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	align-items: center;
	margin: 30px 0 20px 0;
	text-transform: uppercase;
}

.info_text_description {
	font-weight: 500;
	font-size: 16px;
	line-height: 130%;
	text-align: justify;
	text-transform: none;
}

.title {
	margin: 30px 0;

	letter-spacing: 0.05em;
	text-transform: uppercase;

	line-height: 130%;
}

.info_text {
	font-weight: 500;
	font-size: 28px;
	line-height: 130%;
	letter-spacing: 0.05em;
}

.input_block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
}

.form_item {
	position: relative;

	display: inline-block;

	vertical-align: top;
}

.form_input {
	width: 100%;
	font-family: var(--font-family);
	padding-bottom: 5px;
	color: var(--white);
	border: none;
	border-bottom: 1px solid var(--white);
	outline: none;
	background: var(--black);
	font-size: 16px;
	font-weight: 500;
	line-height: 130%;
}

.form_label {
	position: absolute;
	top: -9px;
	right: 0;
	left: 2px;

	overflow: hidden;

	transition: 0.3s;
	white-space: nowrap;
	pointer-events: none;

	font-family: var(--font-family);
	font-weight: 400;
	line-height: 40px;
}

.form_input:focus~.form_label,
.form_input:not(:focus):valid~.form_label {
	top: -27px;
	left: 2px;

	font-size: 10px;
}

.question_confirm_block {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin: 30px 0;
}
